<a href="https://colab.research.google.com/github/teretenuche/Datathon_CajaMar2021/blob/main/Datathon_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files #Importar achivos

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Modelar_UH2021.txt to Modelar_UH2021.txt
User uploaded file "Modelar_UH2021.txt" with length 234151337 bytes

In [5]:
import csv

with open('Modelar_UH2021.txt', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split("|") for line in stripped if line)
    with open('Modelar_UH2021.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerow(('fecha', 'id','visitas','categoria_uno','categoria_dos','estado','precio','dia_atipico','campaña','antiguedad','unidades_vendidas'))
        writer.writerows(lines)

In [6]:
df2 = pd.read_csv('Modelar_UH2021.csv')
df2

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2,4,7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                     fecha      id  ...  antiguedad  unidades_vendidas
0                    fecha      id  ...  antiguedad  unidades_vendidas
1         1/6/2015 0:00:00   21972  ...        5241                  0
2         1/6/2015 0:00:00   23910  ...        5241                  3
3         1/6/2015 0:00:00   24306  ...         NaN                  0
4         1/6/2015 0:00:00   24306  ...         NaN                  0
...                    ...     ...  ...         ...                ...
4045018  30/9/2016 0:00:00  457416  ...         130                  9
4045019  30/9/2016 0:00:00  457422  ...         130                  0
4045020  30/9/2016 0:00:00  458650  ...         126                  0
4045021  30/9/2016 0:00:00  458660  ...         126                 24
4045022  30/9/2016 0:00:00  458660  ...         126                 24

[4045023 rows x 11 columns]

In [8]:
from google.colab import files

with open('Modelar_UH2021.csv', 'w') as f:
  df2.to_csv(f,  index = False)
  

files.download('Modelar_UH2021.csv')

In [11]:
#Para eliminar duplicados en la tabla
df3 = df2.drop_duplicates(keep='first', inplace=False)
df3.head()

              fecha     id  visitas  ...  campaña  antiguedad  unidades_vendidas
0             fecha     id  visitas  ...  campaña  antiguedad  unidades_vendidas
1  1/6/2015 0:00:00  21972        0  ...        0        5241                  0
2  1/6/2015 0:00:00  23910        5  ...        0        5241                  3
3  1/6/2015 0:00:00  24306       13  ...        0         NaN                  0
5  1/6/2015 0:00:00  27144       15  ...        0        4064                  0

[5 rows x 11 columns]

In [15]:
#Eliminar la primera fila que contiene los titulos repetidos
df4=df3.drop([0,],axis=0)
df4.head()

              fecha     id visitas  ... campaña antiguedad unidades_vendidas
1  1/6/2015 0:00:00  21972       0  ...       0       5241                 0
2  1/6/2015 0:00:00  23910       5  ...       0       5241                 3
3  1/6/2015 0:00:00  24306      13  ...       0        NaN                 0
5  1/6/2015 0:00:00  27144      15  ...       0       4064                 0
6  1/6/2015 0:00:00  27504       7  ...       0       5261                 0

[5 rows x 11 columns]

In [16]:
#df4 es la tabla sin duplicados
df4.count()

fecha                2040038
id                   2040038
visitas              2040038
categoria_uno        2040038
categoria_dos        2035645
estado               2040038
precio               2040038
dia_atipico          2040038
campaña              2040038
antiguedad           1559222
unidades_vendidas    2040038
dtype: int64

In [ ]:
#Eliminar la hora de la columna "fecha" para dejar solo la fecha
from datetime import timedelta